#wrapper {
    margin: 1em auto;
    width: 960px;
    border: 5px solid #000000;
    background-image: url(1919.png);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.ill{
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.h24{
    margin-left: -450px;
    margin-top: 30px;
  }
  
  figure:hover {
    transform: scale(1.1);
    
  }
  


#myCarousel {
    grid-column: span 11; 
  }
  
  #myCarousel .f-carousel__slide {
    text-align: center;
    background: #eeeeee00;
  }